nav {
    background-color: #262626;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline-block;
    text-align: center;
    color: wheat;
}
nav .options {
    display: flex;
    justify-content: center;
    color: wheat;
}

nav li a {
    display: block;
    color: wheat;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

nav li ul {
    display: none;
}

nav li:hover ul {
    display: block;
    position: absolute;
    background-color: #262626;
    padding: 10px;
}

nav li ul li {
    float: none;
}

nav li ul li a {
    padding: 10px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-size: cover;
}

th,
td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f5f5f5;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


h1 {
    text-align: center;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    clear: both;
    margin-top: auto;
    text-align: center;
}
